---
import Typewriter from "astro-typewriter";
---

<div class="fancy">
  <Typewriter messages={["Hello World", "This was easy"]} />
</div>

<style>
  .fancy {
    color: #b33e66;
    text-decoration: underline;
  }
</style>
